{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en" ng-app="CyberCP">
<head>

    <style>
        /* Loading Spinner */
        .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
    </style>


    <meta charset="UTF-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title>{% block title %}Page Title{% endblock %}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
    {% load static %}

<script src = "https://code.angularjs.org/1.6.5/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- HELPERS -->

<link rel="stylesheet" type="text/css" href="{% static 'baseTemplate/assets/finalBase/finalBase.css' %}">

<!-- ELEMENTS -->

<!-- ICONS -->

<!-- WIDGETS -->

<!-- SNIPPETS -->

<!-- APPLICATIONS -->
<!-- Admin theme -->

<link rel="stylesheet" type="text/css" href="{% static 'baseTemplate/assets/finalBase/finalBaseTheme.css' %}">

<link rel="stylesheet" type="text/css" href="/static/baseTemplate/assets/themes/admin/layout.css">
<link rel="stylesheet" type="text/css" href="/static/baseTemplate/assets/themes/admin/color-schemes/default.css">

<!-- Components theme, component below was above three CSS files. -->



<!-- Admin responsive -->


<!-- Packages -->


<!-- JS Core -->

<script type="text/javascript" src="{% static 'baseTemplate/assets/js-core/jquery-core.min.js' %}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            setTimeout(function() {
                $('#loading').fadeOut( 400, "linear" );
            }, 300);
        });
    </script>

<!-- JS Ends -->


</head>


    <body>
<div id="sb-site">



<!------- ng-controller="systemStatusInfo" ------------>


<div   class="sb-slidebar bg-black sb-right sb-style-overlay">
<div class="scrollable-content scrollable-slim-sidebar">
<div class="pad15A">




<div class="clear"></div>


<div ng-controller="systemStatusInfo" id="sidebar-toggle-3" class="collapse in">

    <ul class="progress-box">
        <li>

            <div class="progress-title">
                {% trans "CPU Usage" %}
                <b>{$ cpuUsage $}%</b>
            </div>
            <div class="progressbar-small progressbar" data-value="{$ cpuUsage $}">
                <div class="progressbar-value bg-yellow tooltip-button" title="{$ cpuUsage $}%">
                </div>
            </div>
        </li>
        <li>
            <b class="pull-right">{$ ramUsage $}%</b>
            <div class="progress-title">
                {% trans "Ram Usage" %}

            </div>
            <div class="progressbar-small progressbar" data-value="{$ ramUsage $}">
                <div class="progressbar-value bg-red tooltip-button" title="{$ ramUsage $}%"></div>
            </div>
        </li>
        <li>
            <div class="progress-title">
                {% trans "Disk Usage" %}
                <b>{$ diskUsage $}%</b>
            </div>
            <div class="progressbar" data-value="{$ diskUsage $}">
                <div class="progressbar-value bg-green">
                    <div class="progress-label">{$ diskUsage $}%</div>
                </div>
            </div>
        </li>
    </ul>

</div>

<div class="clear"></div>

</div>
</div>
</div>




    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div id="page-wrapper">
        <div id="page-header" class="bg-gradient-9">
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <a href="{% url "index" %}" class="logo-content-small" title="{% trans 'CyberPanel' %}"></a>
    </div>
    <div id="header-logo" class="logo-bg">
        <a href="{% url "index" %}" class="logo-content-big" title="{% trans 'CyberPanel' %}">
            Cyber <i>Panel</i>
            <span>{% trans "Web Hosting Control Panel" %}</span>
        </a>
        <a href="{% url "index" %}" class="logo-content-small" title="{% trans 'CyberPanel' %}">
            Cyber <i>Panel</i>
            <span>{% trans "Web Hosting Control Panel" %}</span>
        </a>
        <a id="close-sidebar" href="#" title="{% trans 'Close sidebar' %}">
            <i class="glyph-icon icon-angle-left"></i>
        </a>
    </div>
    <div id="header-nav-left">
        <div ng-controller="adminController" class="user-account-btn dropdown">
            <a href="#" title="{% trans 'My Account' %}" class="user-profile clearfix" data-toggle="dropdown">
                <img width="28" src="{% static 'baseTemplate/assets/image-resources/gravatar.png' %}" alt="Profile image">
                <span>{$ currentAdmin $}</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#" title="{% trans '' %}" class="change-img">Change photo</a>
                            <img src="{% static 'baseTemplate/assets/image-resources/gravatar.png' %}" alt="">
                        </div>
                        <div class="user-info">
                            <span>
                                {$ currentAdmin $}
                                <i>{$ admin_type $}</i>
                            </span>
                            <a href="{% url 'modifyUsers' %}" title="{% trans 'Edit profile' %}">{% trans "Edit profile" %}</a>
                            <a href="{% url 'viewProfile' %}" title="{% trans 'View Profile' %}">{% trans "View Profile" %}</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="{% url 'logout' %}" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            {% trans "Logout" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #header-nav-left -->


    <div ng-controller="loadAvg" id="header-nav-right">

        <a class="hide-on-phone" style="background-color: none;width: 33px" href="#" class="hdr-btn" title="{% trans 'CPU Load Average' %}" data-placement="bottom" >
                <span class="badge bg-yellow">{$ one $}</span>
        </a>

        <a class="hide-on-phone" style="background-color: none;width: 33px" href="#" class="hdr-btn" title="{% trans 'CPU Load Average' %}" data-placement="bottom" >
            <span class="badge bg-yellow">{$ two $}</span>
        </a>

        <a class="hide-on-phone" style="background-color: none;width: 33px" href="#" class="hdr-btn" title="{% trans 'CPU Load Average' %}" data-placement="bottom">
            <span class="badge bg-yellow">{$ three $}</span>
        </a>

        <div class="dropdown" id="dashnav-btn">
            <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="{% trans 'Dashboard Quick Menu' %}">
                <i class="glyph-icon icon-linecons-cog"></i>
            </a>
            <div class="dropdown-menu float-right">
                <div class="box-sm">
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                        <a href="{% url 'loadWebsitesHome' %}" class="btn vertical-button remove-border btn-info" title="{% trans '' %}">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                            </span>
                            {% trans "Websites" %}
                        </a>
                        <a href="{% url 'packagesHome' %}" class="btn vertical-button remove-border btn-danger" title="{% trans '' %}">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                            </span>
                            {% trans "Packages" %}
                        </a>
                        <a href="{% url 'dnsHome' %}" class="btn vertical-button remove-border btn-purple" title="{% trans '' %}">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                            </span>
                            {% trans "DNS" %}
                        </a>
                        <a href="{% url 'loadFTPHome' %}" class="btn vertical-button remove-border btn-azure" title="{% trans '' %}">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                            </span>
                            {% trans "FTP" %}
                        </a>
                        <a href="{% url 'loadTuningHome' %}" class="btn vertical-button remove-border btn-yellow" title="{% trans '' %}">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                            </span>
                            {% trans "Tuning" %}
                        </a>
                        <a href="{% url 'serverStatusHome' %}" class="btn vertical-button remove-border btn-warning" title="{% trans '' %}">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                            </span>
                            {% trans "Status" %}
                        </a>

                    </div>

                </div>
            </div>
        </div>
        <a class="header-btn" id="logout-btn" href="{% url 'logout' %}" title="{% trans 'Logout' %}">
            <i class="glyph-icon icon-linecons-lock"></i>
        </a>


    </div><!-- #header-nav-right -->

</div>
<div id="page-sidebar">
    <div class="scroll-sidebar">


    <ul id="sidebar-menu">
    <li class="header"><span>{% trans "Overview" %}</span></li>
    <li>
        <a href="#" title="{% trans 'Server IP Address' %}">
            <i class="glyph-icon tooltip-button icon-laptop" title="{% trans 'Server IP Address' %}" data-original-title=".icon-laptop"></i>
            <span style="color: #db6868;font-weight: bold;" id="serverIPAddress"></span>
        </a>
        <a href="{% url 'index' %}" title="{% trans 'Dashboard' %}">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>{% trans "Dashboard" %}</span>
        </a>
        <a id="versionManagement" href="{% url 'versionManagment' %}" title="{% trans 'Version Management' %}">
            <i class="glyph-icon tooltip-button icon-cloud-upload" title="{% trans 'Version Management' %}" data-original-title=".icon-cloud-upload" aria-describedby="tooltip896208"></i>
            <span>{% trans "Version Management" %}</span>
        </a>
    </li>
    <li class="divider"></li>
    <li class="header"><span>{% trans "Main" %}</span></li>

    <li>
        <a href="{% url 'loadUsersHome' %}" title="{% trans 'Users' %}">
            <i class="glyph-icon icon-users" title="{% trans 'Users' %}"></i>
            <span>{% trans "Users" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'viewProfile' %}" title="{% trans 'View Profile' %}"><span>{% trans "View Profile" %}</span></a></li>
                <li id="normalUser"><a href="{% url 'createUser' %}" title="{% trans 'Create New User' %}"><span>{% trans "Create New User" %}</span></a></li>
                <li><a href="{% url 'modifyUsers' %}" title="{% trans 'Modify User' %}"><span>{% trans "Modify User" %}</span></a></li>
                <li id="normalUserB"><a href="{% url 'deleteUser' %}" title="{% trans 'Delete User' %}"><span>{% trans "Delete User" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    <li>
        <a href="{% url 'loadWebsitesHome' %}" title="{% trans 'Websites' %}">
            <div class="glyph-icon icon-file-word-o" title="{% trans 'Websites' %}"></div>
            <span>{% trans "Websites" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li id="createWebsite"><a href="{% url 'createWebsite' %}" title="{% trans 'Create Website' %}"><span>{% trans "Create Website" %}</span></a></li>
                <li ><a href="{% url 'listWebsites' %}" title="{% trans 'List Websites' %}"><span>{% trans "List Websites" %}</span></a></li>
                <li id="modifyWebSite"><a href="{% url 'modifyWebsite' %}" title="{% trans 'Modify Website' %}"><span>{% trans "Modify Website" %}</span></a></li>
                <li id="siteState"><a href="{% url 'siteState' %}" title="{% trans 'Suspend/Unsuspend' %}"><span>{% trans "Suspend/Unsuspend" %}</span></a></li>
                <li id="deleteWebsite"><a href="{% url 'deleteWebsite' %}" title="{% trans 'Delete Website' %}"><span>{% trans "Delete Website" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a id="packageHome" href="{% url 'packagesHome' %}" title="{% trans 'Packages' %}">
            <i class="glyph-icon icon-cubes"></i>
            <span>{% trans "Packages" %}</span>
        </a>
        <div id="packageSub" class="sidebar-submenu">

            <ul>
                <li id="createPackage"><a href="{% url 'createPackage' %}" title="{% trans 'Create Package' %}"><span>{% trans "Create Package" %}</span></a></li>
                <li id="deletePackage"><a href="{% url 'deletePackage' %}" title="{% trans 'Delete Package' %}"><span>{% trans "Delete Package" %}</span></a></li>
                <li id="modifyPackage"><a href="{% url 'modifyPackage' %}" title="{% trans 'Modify Package' %}"><span>{% trans "Modify Package" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>

    <li>
        <a href="{% url 'packagesHome' %}" title="{% trans 'Databases' %}">
            <i class="glyph-icon icon-database" title="{% trans 'Databases' %}"></i>
            <span>{% trans "Databases" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'createDatabase' %}" title="{% trans 'Create Database' %}"><span>{% trans "Create Database" %}</span></a></li>
                <li><a href="{% url 'deleteDatabase' %}" title="{% trans 'Delete Database' %}"><span>{% trans "Delete Database" %}</span></a></li>
                <li><a href="{% url 'listDBs' %}" title="{% trans 'List Databases' %}"><span>{% trans "List Databases" %}</span></a></li>
                <li><a href="/phpmyadmin/index.php" title="{% trans 'PHPMYAdmin' %}" target="_blank"><span>{% trans "PHPMYAdmin" %}</span></a></li>
                <!----<li><a href="{% url 'modifyPackage' %}" title="Change Password"><span>Change Password</span></a></li>--->
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>

     <li>
        <a href="{% url 'packagesHome' %}" title="{% trans 'DNS' %}">
            <i class="glyph-icon icon-linecons-lightbulb"></i>
            <span>{% trans "DNS" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li id="normalUserC"><a href="{% url 'createNameserver' %}" title="{% trans 'Create Nameserver' %}"><span>{% trans "Create Nameserver" %}</span></a></li>
                <li><a href="{% url 'createDNSZone' %}" title="{% trans 'Create DNS Zone' %}"><span>{% trans "Create DNS Zone" %}</span></a></li>
                <li><a href="{% url 'deleteDNSZone' %}" title="{% trans 'Delete Zone' %}"><span>{% trans "Delete Zone" %}</span></a></li>
                <li><a href="{% url 'addDeleteDNSRecords' %}" title="{% trans 'Add/Delete Records' %}"><span>{% trans "Add/Delete Records" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>



        <li>
        <a href="{% url 'loadEmailHome' %}" title="{% trans 'Email' %}">
            <i class="glyph-icon icon-linecons-mail"></i>
            <span>{% trans "Email" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li id="normalUserC"><a href="{% url 'createEmailAccount' %}" title="{% trans 'Create Email Account' %}"><span>{% trans "Create Email" %}</span></a></li>
                <li><a href="{% url 'deleteEmailAccount' %}" title="{% trans 'Delete Email Account' %}"><span>{% trans "Delete Email" %}</span></a></li>
                <li><a href="{% url 'emailForwarding' %}" title="{% trans 'Email Forwarding' %}"><span>{% trans "Email Forwarding" %}</span></a></li>
                <li><a href="{% url 'changeEmailAccountPassword' %}" title="{% trans 'Change Password' %}"><span>{% trans "Change Password" %}</span></a></li>
                <li><a href="{% url 'dkimManager' %}" title="{% trans 'DKIM Manager' %}"><span>{% trans "DKIM Manager" %}</span></a></li>
                <li><a href="/rainloop/index.php" title="{% trans 'Access Webmail' %}" target="_blank"><span>{% trans "Access Webmail" %}</span></a></li>

            </ul>

        </div><!-- .sidebar-submenu -->
    </li>





     <li>
        <a href="{% url 'packagesHome' %}" title="{% trans 'FTP' %}">
            <i class="glyph-icon icon-paper-plane"></i>
            <span>{% trans "FTP" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'createFTPAccount' %}" title="{% trans 'Create FTP Account' %}"><span>{% trans "Create FTP Account" %}</span></a></li>
                <li><a href="{% url 'deleteFTPAccount' %}" title="{% trans 'Delete FTP Account' %}"><span>{% trans "Delete FTP Account" %}</span></a></li>
                <li><a href="{% url 'listFTPAccounts' %}" title="{% trans 'List FTP Accounts' %}"><span>{% trans "List FTP Accounts" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>



    <li>
        <a href="{% url 'loadBackupHome' %}" title="{% trans 'Back up' %}">
            <i class="glyph-icon tooltip-button icon-folder" title=".icon-folder"></i>
            <span>{% trans "Back up" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'backupSite' %}" title="{% trans 'Create Back up' %}"><span>{% trans "Create Back up" %}</span></a></li>
                <li id="restoreSite"><a href="{% url 'restoreSite' %}" title="{% trans 'Restore Back up' %}"><span>{% trans "Restore Back up" %}</span></a></li>
                <li id="backupDestinations"><a href="{% url 'backupDestinations' %}" title="{% trans 'Add Destination' %}"><span>{% trans "Add/Delete Destination" %}</span></a></li>
                <li id="scheduleBackup"><a href="{% url 'scheduleBackup' %}" title="{% trans 'Schedule Back up' %}"><span>{% trans "Schedule Back up" %}</span></a></li>
                <li id="remoteBackups"><a href="{% url 'remoteBackups' %}" title="{% trans 'Remote Back ups' %}"><span>{% trans "Remote Back ups" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    <li>
        <a href="{% url 'loadSSLHome' %}" title="{% trans 'Back up' %}">
            <i class="glyph-icon tooltip-button icon-briefcase" title="{% trans 'SSL' %}"></i>
            <span>{% trans "SSL" %}</span>
        </a>
        <div  class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'manageSSL' %}" title="{% trans 'Manage SSL' %}"><span>{% trans "Manage SSL" %}</span></a></li>
                <li id="sslA"><a href="{% url 'sslForHostName' %}" title="{% trans 'Hostname SSL' %}"><span>{% trans "Hostname SSL" %}</span></a></li>
                <li id="sslA"><a href="{% url 'sslForMailServer' %}" title="{% trans 'MailServer SSL' %}"><span>{% trans "MailServer SSL" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>



    <li id="normalUserD" class="header"><span>{% trans "Server" %}</span></li>
    <li id="normalUserE">
        <a href="#" title="{% trans 'Tuning' %}">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>{% trans "Tuning" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'liteSpeedTuning' %}" title="{% trans 'LiteSpeed Tuning' %}"><span>{% trans "LiteSpeed Tuning" %}</span></a></li>
                <li><a href="{% url 'phpTuning' %}" title="{% trans 'PHP Tuning' %}"><span>{% trans "PHP Tuning" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>

        <li id="normalUserF">
        <a href="#" title="{% trans 'Server Status' %}">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>{% trans "Server Status" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>

                <li><a href="{% url 'litespeedStatus' %}" title="{% trans 'LiteSpeed Status' %}"><span>{% trans "LiteSpeed Status" %}</span></a></li>
                <li><a href="{% url 'cyberCPMainLogFile' %}" title="{% trans 'CyberPanel Main Log File' %}"><span>{% trans "CyberPanel Main Log File" %}</span></a></li>
                <li><a href="{% url 'services' %}" title="{% trans 'Services Status' %}"><span>{% trans "Services Status" %}</span></a></li>


            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    <li id="normalUserP">
        <a href="{% url 'loadPHPHome' %}" title="{% trans 'PHP' %}">
            <i class="files-icon glyph-icon icon-file-code-o"></i>
            <span>{% trans "PHP" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'installExtensions' %}" title="{% trans 'Install PHP Extensions' %}"><span>{% trans "Install Extensions" %}</span></a></li>
                <li><a href="{% url 'editPHPConfigs' %}" title="{% trans 'Edit PHP Configs' %}"><span>{% trans "Edit PHP Configs" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    <li id="normalUserG">
        <a href="{% url 'logsHome' %}" title="{% trans 'Server Status' %}">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>{% trans "Logs" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'accessLogs' %}" title="{% trans 'Access Log' %}"><span>{% trans "Access Log" %}</span></a></li>
                <li><a href="{% url 'errorLogs' %}" title="{% trans 'Error Logs' %}"><span>{% trans "Error Logs" %}</span></a></li>
                <li><a href="{% url 'emaillogs' %}" title="{% trans 'Email Logs' %}"><span>{% trans "Email Log" %}</span></a></li>
                <li><a href="{% url 'ftplogs' %}" title="{% trans 'FTP Logs' %}"><span>{% trans "FTP Logs" %}</span></a></li>
                <li><a href="{% url 'modSecAuditLogs' %}" title="{% trans 'ModSecurity Audit Logs' %}"><span>{% trans "ModSec Audit Logs" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    <li id="normalUserH">
        <a href="{% url 'securityHome' %}" title="{% trans 'Security' %}">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>{% trans "Security" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'firewallHome' %}" title="{% trans 'Firewall Home' %}"><span>{% trans "Firewall" %}</span></a></li>
                <li><a href="{% url 'secureSSH' %}" title="{% trans 'Secure SSH' %}"><span>{% trans "Secure SSH" %}</span></a></li>
                <li><a href="{% url 'modSecurity' %}" title="{% trans 'ModSecurity Configurations' %}"><span>{% trans "ModSecurity Conf" %}</span></a></li>
                <li><a href="{% url 'modSecRules' %}" title="{% trans 'ModSecurity Rules' %}"><span>{% trans "ModSecurity Rules" %}</span></a></li>
                <li><a href="{% url 'modSecRulesPacks' %}" title="{% trans 'ModSecurity Rules Packs' %}"><span>{% trans "ModSecurity Rules Packs" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>

    <li id="normalUserI">
        <a href="#" title="{% trans 'Mail Settings' %}">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>{% trans "Mail Settings" %}</span>
            <span class="bs-label badge-yellow">{% trans "NEW" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'emailPolicyServer' %}" title="{% trans 'Email Policy Server' %}"><span>{% trans "Email Policy Server" %}</span></a></li>
                <li><a href="{% url 'listDomains' %}" title="{% trans 'Email Limits' %}"><span>{% trans "Email Limits" %}</span></a></li>
                <li><a href="{% url 'SpamAssassin' %}" title="{% trans 'SpamAssassin Configurations' %}"><span>{% trans "SpamAssassin" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    <li id="normalUserJ">
        <a href="#" title="{% trans 'Manage Services' %}">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>{% trans "Manage Services" %}</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="{% url 'managePowerDNS' %}" title="{% trans 'Manage PowerDNS' %}"><span>{% trans "Manage PowerDNS" %}</span></a></li>
                <li><a href="{% url 'managePostfix' %}" title="{% trans 'Manage Postfix' %}"><span>{% trans "Manage Postfix" %}</span></a></li>
                <li><a href="{% url 'managePureFtpd' %}" title="{% trans 'Manage FTP' %}"><span>{% trans "Manage FTP" %}</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>


    </ul><!-- #sidebar-menu -->


    </div>
</div>

    <div id="page-content-wrapper">
        <div id="page-content">


            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>


<!-- WIDGETS -->


<!-- Sparklines charts -->

<script src="{% static 'baseTemplate/custom-js/system-status.js' %}"></script>
<script src="{% static 'packages/packages.js' %}"></script>
<script src="{% static 'websiteFunctions/websiteFunctions.js' %}"></script>
<script src="{% static 'tuning/tuning.js' %}"></script>
<script src="{% static 'serverStatus/serverStatus.js' %}"></script>
<script src="{% static 'dns/dns.js' %}"></script>
<script src="{% static 'ftp/ftp.js' %}"></script>
<script src="{% static 'userManagment/userManagment.js' %}"></script>
<script src="{% static 'databases/databases.js' %}"></script>
<script src="{% static 'mailServer/mailServer.js' %}"></script>
<script src="{% static 'serverLogs/serverLogs.js' %}"></script>
<script src="{% static 'emailPremium/emailPremium.js' %}"></script>

<!-- PieGage charts -->

<script type="text/javascript" src="{% static 'baseTemplate/assets/finalJS/final.js' %}"></script>

<!-- Bootstrap Progress Bar -->


<!-- Superclick -->


<!-- Input switch alternate -->

<!-- Slim scroll -->

<!-- Slidebars -->


<!-- PieGage -->

<!-- Screenfull -->


<!-- Content box -->

<!-- Overlay -->

<!-- Widgets init for demo -->

<!-- Theme layout -->


<!-- Theme switcher -->

<script src="{% static 'backup/backup.js' %}"></script>
<script src="{% static 'managePHP/managePHP.js' %}"></script>
<script src="{% static 'baseTemplate/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'firewall/firewall.js' %}"></script>
<script src="{% static 'manageSSL/manageSSL.js' %}"></script>
<script src="{% static 'manageServices/manageServices.js' %}"></script>
</div>
</body>
</html>